.ngx-timepicker-control__input,
.mat-expansion-panel-content,
.mat-expansion-panel-header,
.mat-stepper-horizontal,
.mat-stepper-vertical,
.mat-typography h2,
.mat-typography h5,
.mat-radio-button,
.mat-icon-button,
.mat-typography,
.mat-form-field,
.mat-menu-item,
.mat-tab-label,
.mat-tab-link,
.mat-tab-group,
.mat-checkbox,
.mat-button,
.mat-option,
.mat-table,
.mat-select {
  font-family: $fontFamily !important;
}

.mat-primary {
  .mat-option {
    &.mat-selected:not(.mat-option-disabled) {
      color: $white;
      background: $primary-100;
    }
  }
  .mat-pseudo-checkbox {
    border-color: rgba($black, 0.25);
    border-width: 2px;
    border-radius: 6px;
    color: $gray;
  }
}

.mat-option {
  &.mat-active {
    color: $white !important;
    background: $primary !important;
  }

  &.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
    background: $primary;
    color: $white;
  }
}

.mat-button {
  &.cdk-focused {
    &.cdk-program-focused {
      .mat-button-focus-overlay {
        opacity: 0;
      }
    }
  }
}

.mat-icon-button {
  &.cdk-focused {
    &.cdk-program-focused {
      .mat-button-focus-overlay {
        opacity: 0;
      }
    }
  }
  .mat-ripple {
    &.mat-button-ripple {
      background-color: transparent;
      opacity: 0;
    }
  }
}

.mat-button-focus-overlay {
  background-color: transparent;
}


.dropdown-menu {
  &.mention-menu {
    border: 0 !important;
    box-shadow: 0px 0px 4px 0px rgba($black, 0.25) !important;
    background-color: $white !important;

    .mention-active {
      > a {
        background-color: $primary !important;
      }
    }
  }
}

.sidenav-body-content {
  &.email-template {
    .form-field {
      &.textarea {
        .mat-input-element {
          height: 205px;
        }

        .mat-form-field-flex {
          height: 230px;
        }
      }
    }
  }
}

/*Select options*/

.mat-select-panel-wrap {
  .mat-select-panel {
    box-shadow: 0px 2px 5px 0px rgba($primary-100, 0.25);
    max-height: 200px;
    min-width: calc(100% + 20px) !important;
    .mat-option {
      height: 40px;
      padding: 0 10px;
      &:last-child {
        border: none;
      }

      &:hover {
        background: $primary-200;
        color: $primary;
      }

      &.mat-selected:not(.mat-option-multiple) {
        background: $primary;
        color: $white;
      }

      &.mat-option:focus:not(.mat-option-disabled) {
        background: $primary-200;
      }
    }
    &.project {
      max-height: 260px;
    }
  }
}

.mat-autocomplete-panel {
  max-height: 240px !important;

  &.mat-autocomplete-visible {
    .mat-option {
      height: 38px;
      font-size: 14px;

      &:hover:not(.mat-option-disabled):not(.mat-selected) {
        background-color: $primary-200;
        color: $primary;
      }

      &.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
        background-color: $primary;
        color: $white;
      }

      &.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
        background: $primary;
        color: $white;
      }
    }
  }

  &.mat-autocomplete-hidden {
    height: 0;
  }
}



/*Form Field*/

.myPanelClass {
  transform: translate(3px, 35px) !important;

  &.select-auto {
    min-width: auto !important;
  }
}

.pagination {
  transform: translate(0, -35px) !important;
}

mark {
  background-color: $primary-300;
}

.ae-font.ae-picker,
.color-label.foreground {
  display: none !important;
}

.action-menu {
  .mat-menu-item {
    &.mat-button-disabled {
      cursor: not-allowed;
    }
  }
}

.mat-calendar-header {
  .mat-calendar-controls {
    margin: 0;
  }
}



.mat-form-field {
  .mat-datepicker-toggle-default-icon {
    color: $gray-100;
  }
}

